<footer class="text-light text-sm bg-dark font-title py-20 flex flex-col items-center">
<div class="text-center">Copyright © {% currentYear whatever %} | {{general.site_title}} | <a class="mr-4 cmp-link" href="/contact">Contact</a> </div>
</footer>