---
layout: container
eleventyNavigation:
  key: About
  order: 3
sites:
  - title: Eleventy
    url: https://www.11ty.dev/
  - title: Tailwindcss
    url: https://tailwindcss.com/
  - title: Netlify
    url: https://www.netlify.com/
---

<h1 class="cmp-h1">About</h1>

<p class="cmp-p">Hush Spring builds custom websites for writers and artists. It is run by <a class="cmp-link underline" target="_blank" href="https://evan-harrison.com">Evan Harrison</a>, a <a class="underline" target="_blank" href="https://www.omnidawn.com/product/sham-city/">poet</a> and professional web developer in Raleigh, NC.</p>
<p class="cmp-p">Have questions? <a class="cmp-link underline" href="/services#faq">Check out our FAQ</a>.</p>
<p class="cmp-p">Want to check out our work? <a class="cmp-link underline" href="/samples">Here are some samples</a>.</p>
<p class="pt-8">We'd also like to thank the makers of these tools, which we use to develop and host great websites:</p>
<ul class="list-disc">
  {% for site in sites %}
    <li class="ml-8 max-w-2xl"><a class="cmp-link underline" target="_blank" rel="noreferrer noopener" href="{{site.url}}">{{site.title}}</a></li>
  {% endfor %}
</ul>

