---
layout: container
eleventyNavigation:
  key: Contact
  order: 4
---
<h1 class="cmp-h1">Get in touch!</h1>
<p class="text-xl font-title pb-4">Questions, ideas, visions — we'd love to hear them.</p>

<div class="max-w-screen-sm mx-auto">
{% for contact in contact.other_emails %}
  <h2 class="font-title text-xl pt-8">{{contact.purpose}}</h2>
  <p>{{contact.name}}</p>
  <a class="cmp-link" href="mailto:{{contact.email}}">{{contact.email}}</a>
{% endfor %}
</div>
<div class="mx-auto">
  {% include "./includes/components/contact-form.njk" %}

</div>
